Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

Import script for Conwy (2026-06-18) (closes #9450)
  polling_stations/apps/data_importers/management/commands/import_conwy.py
Due: imports-changed

Import script for Rochford (2026-06-18) (closes #9452)
  polling_stations/apps/data_importers/management/commands/import_rochford.py
Due: imports-changed

Import script for Wrexham (2026-06-18) (closes #9454)
  polling_stations/apps/data_importers/management/commands/import_wrexham.py
Due: imports-changed

Import script for St Helens (2026-06-18) (closes #9456)
  polling_stations/apps/data_importers/management/commands/import_st_helens.py
Due: imports-changed

Import script for St Helens (2026-06-25) (closes #9458)
  polling_stations/apps/data_importers/management/commands/import_st_helens.py
Due: imports-changed

Import script for Uttlesford (2026-06-25) (closes #9462)
  polling_stations/apps/data_importers/management/commands/import_uttlesford.py
Due: imports-changed

Import script for Dorset (2026-07-02) (closes #9464)
  polling_stations/apps/data_importers/management/commands/import_dorset.py
Due: imports-changed

Import script for Denbighshire (2026-06-25) (closes #9466)
  polling_stations/apps/data_importers/management/commands/import_denbighshire.py
Due: imports-changed

Import script for Waverley (2026-07-07) (closes #9460)
  polling_stations/apps/data_importers/management/commands/import_waverley.py
Due: imports-changed

Import script for Rhondda Cynon Taf (2026-06-25) (closes #9468)
  polling_stations/apps/data_importers/management/commands/import_rhondda_cynon_taf.py
Due: imports-changed

refactor ems importers to use generic get_station_point
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

add station location to uploader
  polling_stations/apps/file_uploads/templates/file_uploads/council_detail.html
  polling_stations/apps/file_uploads/views.py
Due: application-changed

update FCS importer to add location_source
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

add location_source to imported stations
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/data_types.py
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

add location source field
  polling_stations/apps/pollingstations/migrations/0025_pollingstation_location_source.py
  polling_stations/apps/pollingstations/models.py
Due: application-changed

add srid specific coordinate validation
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_base_stations_importer.py
Due: application-changed

set max length on location_source field
  polling_stations/apps/pollingstations/migrations/0026_alter_pollingstation_location_source.py
  polling_stations/apps/pollingstations/models.py
Due: application-changed

move get_station_point to BaseStationsImporter
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_base_stations_importer.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

add location_source to admin
  polling_stations/apps/pollingstations/admin.py
Due: application-changed

add location_source to get_station_point
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

check postcode field is not Falsy
  polling_stations/apps/data_importers/base_importers.py
Due: application-changed

add location_source to import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

log when we fail to geocode with uprn
  polling_stations/apps/data_importers/base_importers.py
Due: application-changed

don't require geocoding fields
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/ems_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

add location source to dashboard
  polling_stations/apps/dashboard/templates/dashboard/council_detail.html
Due: application-changed

add generic get_station_point
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed
