Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

Import script for Chorley (2024-07-04) (closes #7258)
  polling_stations/apps/data_importers/management/commands/import_chorley.py
Due: imports-changed

Import script for Hinckley & Bosworth (2024-07-04) (closes #7264)
  polling_stations/apps/data_importers/management/commands/import_hinckley_bosworth.py
Due: imports-changed

Import script for West Suffolk (2024-07-04) (closes #7268)
  polling_stations/apps/data_importers/management/commands/import_west_suffolk.py
Due: imports-changed

Import script for South Cambridgeshire (2024-07-04) (closes #7270)
  polling_stations/apps/data_importers/management/commands/import_south_cambridge.py
Due: imports-changed

Import script for Redbridge (2024-07-04) (closes #7276)
  polling_stations/apps/data_importers/management/commands/import_redbridge.py
Due: imports-changed

Import script for Broxtowe (2024-07-04) (closes #7278)
  polling_stations/apps/data_importers/management/commands/import_broxtowe.py
Due: imports-changed

Import script for Eastbourne (2024-07-04) (closes #7280)
  polling_stations/apps/data_importers/management/commands/import_eastbourne.py
Due: imports-changed

Import script for Salford (2024-07-04) (closes #7282)
  polling_stations/apps/data_importers/management/commands/import_salford.py
Due: imports-changed

Import script for Gateshead (2024-07-04) (closes #7266)
  polling_stations/apps/data_importers/management/commands/import_gateshead.py
Due: imports-changed

New Addressbase means updating uprn to ballot lookups
  deploy/files/scripts/user_scripts/sync_baked_elections_parquet.sh
Due: application-changed

adds coords for station from HAT council
  polling_stations/apps/data_importers/management/commands/import_hart.py
Due: imports-changed

Import script for Ribble Valley (2024-07-04) (closes #7284)
  polling_stations/apps/data_importers/management/commands/import_ribble.py
Due: imports-changed

fix RIB import script
  polling_stations/apps/data_importers/management/commands/import_ribble.py
Due: imports-changed

Import script for Maidstone (2024-07-04) (closes #7286)
  polling_stations/apps/data_importers/management/commands/import_maidstone.py
Due: imports-changed

Set NEXT_CHARISMATIC_ELECTION_DATES for 2024-07-04
  polling_stations/settings/constants/elections.py
Due: application-changed

Remove old misc fix
  polling_stations/apps/data_importers/management/commands/misc_fixes.py
Due: imports-changed, application-changed

Import script for Bournemouth, Christchurch & Poole (2024-07-04) (closes #7288)
  polling_stations/apps/data_importers/management/commands/import_bcp.py
Due: imports-changed

Update photo id text for show polls info card
  polling_stations/templates/home.html
Due: application-changed

Scale up to ten instances
  .circleci/deploy-config.yml
Due: application-changed

Import script for Burnley (2024-07-04) (closes #7253)
  polling_stations/apps/data_importers/management/commands/import_burnley.py
Due: imports-changed

Import script for Boston (2024-07-04) (closes #7293)
  polling_stations/apps/data_importers/management/commands/import_boston.py
Due: imports-changed

Import script for West Northamptonshire (2024-07-04) (closes #7300)
  polling_stations/apps/data_importers/management/commands/import_west_northamptonshire.py
Due: imports-changed

Import script for Wirral (2024-07-04) (closes #7134)
  polling_stations/apps/data_importers/management/commands/import_wirral.py
Due: imports-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
