Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

Remove incorrect map for station
  polling_stations/apps/data_importers/management/commands/import_havant.py
Due: imports-changed

adds tidy to system dependencies and updates package names
  README.md
Due: application-changed

adds warning to match postgres and linux usernames
  README.md
Due: application-changed

rewrites install python dependencies section
  README.md
Due: application-changed

minor typo correction
  README.md
Due: application-changed

remove redundant install step
  README.md
Due: application-changed

update fake import scripts with future election date
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/apps/data_importers/management/commands/import_fake_teignbridge.py
Due: imports-changed

update python version
  .python-version
Due: application-changed

Bump gunicorn==22.0.0 https://github.com/DemocracyClub/UK-Polling-Stations/security/dependabot/80
  requirements/constraints.txt
  requirements/production.in
  requirements/production.txt
Due: application-changed

Scale down and remove NEXT_CHARISMATIC_ELECTION
  .circleci/deploy-config.yml
  polling_stations/settings/constants/elections.py
Due: application-changed

minor refactor of BaseDemocracyCountsCsvImporter method
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

moves geocode_from_uprn() to from Xpress Importer to parent class
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

adds clarifying colors to import script data quality reports
  polling_stations/apps/data_importers/data_quality_report.py
Due: application-changed

refactors Halarose importer to use geocode_from_uprn()
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

adds method to ignore uprns in import scripts
  polling_stations/apps/data_importers/base_importers.py
Due: application-changed

Import script for Highland (2024-06-13) (closes #7042)
  polling_stations/apps/data_importers/management/commands/import_highland.py
Due: imports-changed

refactors EMS importers to remove postcode field hardcoding
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

Import script for Greenwich (2024-06-13) (closes #7046)
  polling_stations/apps/data_importers/management/commands/import_greenwich.py
Due: imports-changed

Add more instances to the pool
  .circleci/deploy-config.yml
  cdk/stacks/wdiv_stack.py
Due: application-changed

Bump to more instances
  .circleci/deploy-config.yml
Due: application-changed

Import script for East Staffordshire (2024-07-04) (closes #7051)
  polling_stations/apps/data_importers/management/commands/import_east_staffs.py
Due: imports-changed

Import script for Bracknell Forest (2024-07-04) (closes #7055)
  polling_stations/apps/data_importers/management/commands/import_bracknell_forest.py
Due: imports-changed

Change date for EONI importer
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Import script for Bury (2024-07-04) (closes #7053)
  polling_stations/apps/data_importers/management/commands/import_bury.py
Due: imports-changed

Fail CI if import scripts can't run
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
Due: application-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
