Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

make FCS importer use parent methods
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

remove obselete file types from filehelpers
  polling_stations/apps/data_importers/filehelpers.py
Due: application-changed

remove unused importers
  polling_stations/apps/councils/management/commands/make_council_ems_csv.py
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/data_types.py
  polling_stations/apps/data_importers/management/commands/__init__.py
  polling_stations/apps/data_importers/management/commands/templates/import_geojson_csv.py
  polling_stations/apps/data_importers/management/commands/templates/import_kml_csv.py
  polling_stations/apps/data_importers/management/commands/templates/import_shape_csv.py
  polling_stations/apps/data_importers/management/commands/templates/import_shape_shape.py
  polling_stations/apps/data_importers/tests/stubs/__init__.py
  polling_stations/apps/data_importers/tests/stubs/stub_duplicatedistrict.py
  polling_stations/apps/data_importers/tests/stubs/stub_duplicatestation.py
  polling_stations/apps/data_importers/tests/stubs/stub_jsonimport.py
  polling_stations/apps/data_importers/tests/stubs/stub_jsonimport_different_srids.py
  polling_stations/apps/data_importers/tests/stubs/stub_kmlimport.py
  polling_stations/apps/data_importers/tests/stubs/stub_kmlimport_different_srids.py
  polling_stations/apps/data_importers/tests/stubs/stub_specialcases.py
  polling_stations/apps/data_importers/tests/test_base_stations_districts_importer.py
  polling_stations/apps/data_importers/tests/test_district_imports.py
  polling_stations/apps/data_importers/tests/test_district_set.py
Due: application-changed

make get_station_id abstract
  polling_stations/apps/data_importers/base_importers.py
Due: application-changed

change parent class for FCS importer
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

Import script for Wigan (2026-07-30) (closes #9526)
  polling_stations/apps/data_importers/management/commands/import_wigan.py
Due: imports-changed

Import script for Sheffield (2026-08-20) (closes #9528)
  polling_stations/apps/data_importers/management/commands/import_sheffield.py
Due: imports-changed

upgrade to uv 11
  deploy/files/scripts/install_uv.sh
  pyproject.toml
Due: application-changed

fix fcs station coordinates source
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

Import script for Wandsworth (2026-08-27) (closes #9532)
  polling_stations/apps/data_importers/management/commands/import_wandsworth.py
Due: imports-changed

Add get_station_id to import_eoni command
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Tests for import EONI
  polling_stations/apps/data_importers/tests/fixtures/eoni_importer/eoni_export.csv
  polling_stations/apps/data_importers/tests/test_import_eoni.py
Due: application-changed

Import script for Medway (2026-07-23) (closes #9535)
  polling_stations/apps/data_importers/management/commands/import_medway.py
Due: imports-changed

Import script for Medway (2026-07-23) (closes #9537)
  polling_stations/apps/data_importers/management/commands/import_medway.py
Due: imports-changed

Add NI polling place consultation to FE
  polling_stations/apps/data_finder/tests/playwright/test_postcode_lookup.py
  polling_stations/templates/fragments/ni_out_of_cycle_station.html
  polling_stations/templates/fragments/ni_polling_place_consultation.html
  polling_stations/templates/fragments/polling_station_unknown.html
Due: application-changed

station change for BOL
  polling_stations/apps/data_importers/management/commands/import_bolton.py
Due: imports-changed

Import script for Sheffield (2026-08-27) (closes #9541)
  polling_stations/apps/data_importers/management/commands/import_sheffield.py
Due: imports-changed

Import script for Tendring (2026-08-13) (closes #9545)
  polling_stations/apps/data_importers/management/commands/import_tendring.py
Due: imports-changed

Bump ruff to 0.15.22
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: application-changed

Apply ruff 0.15.22 formatting
  cdk/app.py
  polling_stations/apps/addressbase/management/commands/subset_source_csv.py
  polling_stations/apps/councils/models.py
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_eoni.py
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/data_importers/tests/test_import_eoni.py
  polling_stations/apps/file_uploads/tests/test_upload.py
  tasks.py
Due: application-changed, eoni-changed

Update expected EONI header to include electorate and boxes
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
  polling_stations/apps/data_importers/tests/test_import_eoni_from_s3.py
Due: application-changed

SPIKE: council research survey demo
  polling_stations/apps/file_uploads/forms.py
  polling_stations/apps/file_uploads/management/commands/populate_stroud_test_data.py
  polling_stations/apps/file_uploads/migrations/0007_electionreturn_electoraldatareturn_performancereport_and_more.py
  polling_stations/apps/file_uploads/models.py
  polling_stations/apps/file_uploads/templates/file_uploads/council_detail.html
  polling_stations/apps/file_uploads/templates/file_uploads/election_return_detail.html
  polling_stations/apps/file_uploads/templates/file_uploads/election_return_index.html
  polling_stations/apps/file_uploads/templates/file_uploads/electoral_data_return.html
  polling_stations/apps/file_uploads/templates/file_uploads/performance_report.html
  polling_stations/apps/file_uploads/templates/file_uploads/voter_id_return.html
  polling_stations/apps/file_uploads/urls.py
  polling_stations/apps/file_uploads/views.py
  polling_stations/settings/local.example.py
Due: application-changed

station name change for TEN
  polling_stations/apps/data_importers/management/commands/import_tendring.py
Due: imports-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
