Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

add has_city_of_london_ballots helper function
  polling_stations/apps/data_finder/helpers/every_election.py
Due: application-changed

silence sentry DisallowedHost errors
  polling_stations/settings/base.py
Due: application-changed

Bump uk-geo-utils
  polling_stations/apps/data_finder/fixtures/integration_tests_addressbase.json
  requirements/base.txt
  requirements/constraints.txt
  requirements/testing.txt
Due: application-changed

Pin cdk cli @2.166.0 in CI
  .circleci/deploy-config.yml
Due: application-changed

Add a database flag to update_addressbase command
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
  polling_stations/apps/addressbase/tests/test_update_addressbase.py
Due: application-changed

Tidy up init method signature
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
Due: application-changed

Bump uk-geo-utils to 0.16.0
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

Import script for Dartford (2024-11-21) (closes #8157)
  polling_stations/apps/data_importers/management/commands/import_dartford.py
Due: imports-changed

Import script for St Helens (2024-12-12) (closes #8159)
  polling_stations/apps/data_importers/management/commands/import_st_helens.py
Due: imports-changed

Import script for Greenwich (2024-12-19) (closes #8163)
  polling_stations/apps/data_importers/management/commands/import_greenwich.py
Due: imports-changed

Import script for Chelmsford (2024-12-12) (closes #8165)
  polling_stations/apps/data_importers/management/commands/import_chelmsford.py
Due: imports-changed

Revert "Pin cdk cli @2.166.0 in CI"
  .circleci/deploy-config.yml
Due: application-changed

Wrap the import of eoni uprns in a transaction
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Get object from same database we wrote it to.
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Add slack logging to import_eoni command
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Add a slack client
  polling_stations/apps/core/slack_client.py
  polling_stations/apps/core/tests/test_slack_client.py
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

Make import_eoni_from_s3 command report to slack
  deploy/files/scripts/import_eoni_from_s3.sh
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: application-changed, eoni-changed

Keep LAST_IMPORT_SHA on master for development env
  cdk/lambdas/wdiv-s3-trigger/tests/test_handler.py
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
  polling_stations/settings/base.py
Due: application-changed

Bump uk-geo-utils to 0.17.0
  cdk/lambdas/wdiv-s3-trigger/requirements/testing.txt
  requirements/base.txt
  requirements/constraints.txt
  requirements/testing.txt
Due: application-changed

Report on replication issues fromm update_addressbase command
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
Due: application-changed

disable sync_elections cron job
  deploy/files/conf/crontab
Due: application-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
