Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

Don't show EONI stations when param store is False
  polling_stations/settings/constants/importers.py
Due: application-changed

Apply ruff 0.15.22 formatting
  cdk/app.py
  polling_stations/apps/addressbase/management/commands/subset_source_csv.py
  polling_stations/apps/councils/models.py
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_eoni.py
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/data_importers/tests/test_import_eoni.py
  polling_stations/apps/file_uploads/tests/test_upload.py
  tasks.py
Due: application-changed, eoni-changed

Bump ruff to 0.15.22
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: application-changed

Add NI polling place consultation to FE
  polling_stations/apps/data_finder/tests/playwright/test_postcode_lookup.py
  polling_stations/templates/fragments/ni_out_of_cycle_station.html
  polling_stations/templates/fragments/ni_polling_place_consultation.html
  polling_stations/templates/fragments/polling_station_unknown.html
Due: application-changed

Revert "Don't show EONI stations when param store is False"
  polling_stations/settings/constants/importers.py
Due: application-changed

Revert "Add NI polling place consultation to FE"
  polling_stations/apps/data_finder/tests/playwright/test_postcode_lookup.py
  polling_stations/templates/fragments/ni_out_of_cycle_station.html
  polling_stations/templates/fragments/ni_polling_place_consultation.html
  polling_stations/templates/fragments/polling_station_unknown.html
Due: application-changed

Add FCS credentials model
  polling_stations/apps/file_uploads/admin.py
  polling_stations/apps/file_uploads/migrations/0007_fcscredential.py
  polling_stations/apps/file_uploads/models.py
  polling_stations/apps/file_uploads/views.py
  polling_stations/db_routers.py
Due: application-changed

TEST/Import script for Wandsworth (2024-07-03) (closes #9555)
  polling_stations/apps/data_importers/management/commands/import_wandsworth.py
Due: imports-changed

TEST/Import script for Wandsworth (2026-05-06) (closes #9557)
  polling_stations/apps/data_importers/management/commands/import_wandsworth.py
Due: imports-changed

Fix import EONI from s3
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
  polling_stations/apps/data_importers/tests/test_import_eoni_from_s3.py
Due: application-changed

fix TEN station name
  polling_stations/apps/data_importers/management/commands/import_tendring.py
Due: imports-changed

Report EONI file to slack
  polling_stations/apps/data_importers/management/commands/import_eoni.py
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
Due: eoni-changed

Link to postcode on EONI maps
  polling_stations/templates/fragments/ni_polling_place_consultation.html
Due: application-changed

Show message on 'no_elections.html' page
  polling_stations/templates/fragments/no_election.html
Due: application-changed

fix showing NI consultation banner everywhere
  polling_stations/templates/fragments/no_election.html
Due: application-changed

TEST/Import script for Wandsworth (2026-05-06) (closes #9564)
  polling_stations/apps/data_importers/management/commands/import_wandsworth.py
Due: imports-changed

vulns-20260804
  pyproject.toml
  uv.lock
Due: application-changed

tweak error message
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/election_select.html
Due: application-changed

register FCS as a known EMS
  polling_stations/apps/data_importers/import_script.py
Due: application-changed

stop showing humans dates in YYYY-MM-DD format
  polling_stations/apps/core/templatetags/__init__.py
  polling_stations/apps/core/templatetags/date_filters.py
  polling_stations/apps/core/tests/test_date_filters.py
  polling_stations/apps/file_uploads/templates/file_uploads/council_detail.html
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/date_select.html
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/election_select.html
  polling_stations/apps/file_uploads/templates/file_uploads/upload.html
  polling_stations/settings/base.py
Due: application-changed

js button disable
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/snapshot_data.html
Due: application-changed

update FCS importer base class
  polling_stations/apps/councils/management/commands/make_council_ems_csv.py
  polling_stations/apps/data_importers/ems_importers.py
  polling_stations/apps/data_importers/management/commands/__init__.py
Due: application-changed

tests for FCS upload views
  polling_stations/apps/file_uploads/tests/test_fcs_views.py
Due: application-changed

allow lambda trigger to accept JSON and recognise FCS
  cdk/lambdas/wdiv-s3-trigger/tests/fixtures/ems-fcs.json
  cdk/lambdas/wdiv-s3-trigger/tests/fixtures/ems-other.json
  cdk/lambdas/wdiv-s3-trigger/tests/fixtures/invalid.json
  cdk/lambdas/wdiv-s3-trigger/tests/test_handler.py
  cdk/lambdas/wdiv-s3-trigger/trigger/handler.py
  cdk/lambdas/wdiv-s3-trigger/trigger/json_helpers.py
Due: application-changed

update comments and put them in the right place
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

fix file detail card formatting
  polling_stations/apps/file_uploads/templates/file_uploads/file_detail.html
Due: application-changed

implement simple cache lock on snapshot view
  polling_stations/apps/file_uploads/fcs_views.py
  polling_stations/settings/local.example.py
Due: application-changed

add FCS uploader views
  polling_stations/apps/core/tests/test_frontend.py
  polling_stations/apps/file_uploads/fcs_views.py
  polling_stations/apps/file_uploads/forms.py
  polling_stations/apps/file_uploads/mixins.py
  polling_stations/apps/file_uploads/templates/file_uploads/council_detail.html
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/date_select.html
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/election_select.html
  polling_stations/apps/file_uploads/templates/file_uploads/fcs/snapshot_data.html
  polling_stations/apps/file_uploads/urls.py
  polling_stations/apps/file_uploads/views.py
Due: application-changed

remove references to fcs-api CircleCI context
  .circleci/deploy-config.yml
Due: application-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
