Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

Run import eoni as polling_stations user
  cdk/stacks/command_runner_stack.py
Due: application-changed

Don't use new lines where not needed.
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Report import_eoni_from_s3 failures to slack
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
Due: none

attempt to use bunding options for trigger
  cdk/lambdas/wdiv-s3-trigger/requirements.txt
  cdk/stacks/wdiv_s3_trigger_stack.py
  deploy/files/scripts/install_uv.sh
Due: application-changed

Add uv install instructions to readme for local dev
  README.md
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
  scripts/install-local-python-deps.sh
Due: application-changed

Use uv in CI
  .circleci/deploy-config.yml
  deploy/files/scripts/install_uv.sh
  scripts/code-check.sh
Due: application-changed

Create uv.lock and necessary pyproject.tomls
  cdk/lambdas/wdiv-s3-trigger/pyproject.toml
  pyproject.toml
  uv.lock
Due: application-changed

Import script for Barnet (2025-02-13) (closes #8207)
  polling_stations/apps/data_importers/management/commands/import_barnet.py
Due: imports-changed

upgrade design-system and dc_django_utils packages
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

use use ds-map-leaflet for maps
  polling_stations/assets/custom_css/map.css
  polling_stations/assets/scss/style.scss
  polling_stations/settings/static_files.py
  polling_stations/templates/fragments/polling_station_known.html
Due: application-changed

use switcher partial
  polling_stations/assets/scss/style.scss
Due: application-changed

update/fix footers for dc-django-utils v8
  polling_stations/apps/core/context_processors.py
  polling_stations/settings/base.py
  polling_stations/templates/base.html
Due: application-changed

fix test - there are now >1 <h2>s on the page
  polling_stations/apps/data_finder/tests/playwright/test_nav.py
Due: application-changed

use correct map class for NI out of cycle
  polling_stations/templates/fragments/ni_out_of_cycle_station.html
Due: application-changed

remove dead RNIB link
  polling_stations/templates/fragments/generic_accessibility.html
Due: application-changed

bin concept of custom finders
  deploy/files/scripts/setup_db_replication.sh
  polling_stations/apps/api/postcode.py
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_eoni.py
  polling_stations/apps/pollingstations/fixtures/custom_finders.json
  polling_stations/apps/pollingstations/migrations/0023_delete_customfinder.py
  polling_stations/apps/pollingstations/models.py
  polling_stations/templates/custom_finder.html
  polling_stations/templates/postcode_view.html
Due: application-changed, eoni-changed

fetch UprnToCouncil using primary DB connection
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

apply transactions to primary DB connection
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

Import script for Brent (2025-02-18) (closes #8218)
  polling_stations/apps/data_importers/management/commands/import_brent.py
Due: imports-changed

make DB router code easier to understand
  polling_stations/db_routers.py
Due: application-changed

explain with comments
  polling_stations/db_routers.py
Due: application-changed

only serve from replice when there is a request in scope
  polling_stations/db_routers.py
  polling_stations/settings/base.py
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

always read from primary in the admin
  polling_stations/db_routers.py
Due: application-changed

add get_principal_db_connection helper to db_routers
  polling_stations/db_routers.py
Due: application-changed

remove unnecessary using statements from import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

remove raw SQL in data quality report
  polling_stations/apps/data_importers/data_quality_report.py
Due: application-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
