Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

add location_source to get_station_point
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

refactor ems importers to use generic get_station_point
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

add location source to dashboard
  polling_stations/apps/dashboard/templates/dashboard/council_detail.html
Due: application-changed

set max length on location_source field
  polling_stations/apps/pollingstations/migrations/0026_alter_pollingstation_location_source.py
  polling_stations/apps/pollingstations/models.py
Due: application-changed

add generic get_station_point
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

add location source field
  polling_stations/apps/pollingstations/migrations/0025_pollingstation_location_source.py
  polling_stations/apps/pollingstations/models.py
Due: application-changed

add location_source to import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

add srid specific coordinate validation
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/tests/test_base_stations_importer.py
Due: application-changed

don't require geocoding fields
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/ems_importers.py
  polling_stations/apps/data_importers/tests/test_csv_station_addresses_importer.py
Due: application-changed

fix string interpolation
  polling_stations/apps/data_importers/base_importers.py
Due: application-changed

fix typo
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
Due: application-changed

get bots channel from env
  .circleci/deploy-config.yml
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
Due: application-changed

fix syntax
  .circleci/deploy-config.yml
Due: application-changed

Import script for Broadland (2026-07-16) (closes #9471)
  polling_stations/apps/data_importers/management/commands/import_broadland.py
Due: imports-changed

Import script for South Norfolk (2026-07-16) (closes #9475)
  polling_stations/apps/data_importers/management/commands/import_south_norfolk.py
Due: imports-changed

Import script for King's Lynn & West Norfolk (2026-07-16) (closes #9477)
  polling_stations/apps/data_importers/management/commands/import_kings_lynn.py
Due: imports-changed

add station_postcode_field to demo counts importer
  polling_stations/apps/data_importers/ems_importers.py
Due: application-changed

Import script for Breckland (2026-07-16) (closes #9479)
  polling_stations/apps/data_importers/management/commands/import_breckland.py
Due: imports-changed

Import script for Aberdeen (2026-06-25) (closes #9482)
  polling_stations/apps/data_importers/management/commands/import_aberdeen.py
Due: imports-changed

ignore fake scripts in import_script_path
  polling_stations/apps/councils/models.py
  polling_stations/apps/councils/tests/test_council.py
Due: application-changed

ignore fake scripts in check-updated-files
  .circleci/config.yml
Due: application-changed

Import script for South Staffordshire (2026-07-16) (closes #9484)
  polling_stations/apps/data_importers/management/commands/import_south_staffs.py
Due: imports-changed

Import script for Great Yarmouth (2026-07-16) (closes #9486)
  polling_stations/apps/data_importers/management/commands/import_great_yarmouth.py
Due: imports-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
