Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

Import script for Bromley (2026-05-07) (closes #9263)
  polling_stations/apps/data_importers/management/commands/import_bromley.py
Due: imports-changed

Import script for Hillingdon (2026-05-07) (closes #9279)
  polling_stations/apps/data_importers/management/commands/import_hillingdon.py
Due: imports-changed

Import script for Richmond Upon Thames (2026-05-07) (closes #9281)
  polling_stations/apps/data_importers/management/commands/import_richmond.py
Due: imports-changed

postcode fix for CMD
  polling_stations/apps/data_importers/management/commands/import_camden.py
Due: imports-changed

Import script for Rochdale (2026-05-07) (closes #9047)
  polling_stations/apps/data_importers/management/commands/import_rochdale.py
Due: imports-changed

Import script for Tandridge (2026-05-07) (closes #9105)
  polling_stations/apps/data_importers/management/commands/import_tandridge.py
Due: imports-changed

Import script for Thurrock (2026-05-07) (closes #9114)
  polling_stations/apps/data_importers/management/commands/import_thurrock.py
Due: imports-changed

bump cryptography==46.0.6, pygments==2.20.0, requests==2.33.0
  cdk/lambdas/wdiv-s3-trigger/pyproject.toml
  pyproject.toml
  uv.lock
Due: application-changed

Add method to batch assign uprns to advance stations
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/apps/data_importers/mixins.py
  polling_stations/apps/data_importers/tests/test_advance_voting.py
Due: imports-changed, application-changed

Rename alternative voting stations key in api
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
Due: application-changed

Prefetch advance voting stations in AddressView
  polling_stations/apps/data_finder/tests/test_views.py
  polling_stations/apps/data_finder/views.py
Due: application-changed

Remove advance voting station index from db replication
  deploy/files/scripts/setup_db_replication.sh
Due: application-changed

Modify fe for multiple advance stations
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
Due: imports-changed, application-changed

Limit db queries due to advance voting stations in API
  polling_stations/apps/api/address.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
  polling_stations/apps/data_finder/helpers/routing.py
Due: application-changed

Make UprnToCouncil to AdvanceVotingStation rel ManyToMany
  polling_stations/apps/addressbase/migrations/0020_remove_uprntocouncil_uprntocouncil_adv_v_station_idx_and_more.py
  polling_stations/apps/addressbase/models.py
Due: application-changed

Remove advance voting station from addressbase import process
  polling_stations/apps/addressbase/management/commands/create_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/import_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
  polling_stations/apps/addressbase/tests/fixtures/addresses_sample/uprntocouncil.csv
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: application-changed, eoni-changed

Make api return list of advance stations
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
Due: application-changed

Update council import and teardown cmds
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/apps/data_importers/mixins.py
  polling_stations/apps/data_importers/tests/test_advance_voting.py
Due: imports-changed, application-changed

Import script for Wokingham (2026-05-07) (closes #9123)
  polling_stations/apps/data_importers/management/commands/import_wokingham.py
Due: imports-changed

Import script for Oxford (2026-05-07)
  polling_stations/apps/data_importers/management/commands/import_oxford.py
Due: imports-changed

Import script for Milton Keynes (2026-05-07) (closes #9182)
  polling_stations/apps/data_importers/management/commands/import_milton_keynes.py
Due: imports-changed

Import script for Norwich (2026-05-07) (closes #9287)
  polling_stations/apps/data_importers/management/commands/import_norwich.py
Due: imports-changed

Import script for Greenwich (2026-05-07) (closes #9229)
  polling_stations/apps/data_importers/management/commands/import_greenwich.py
Due: imports-changed

Import script for Kingston Upon Thames (2026-05-07) (closes #9133)
  polling_stations/apps/data_importers/management/commands/import_kingston-upon-thames.py
Due: imports-changed

Import script for Kensington and Chelsea (2026-05-07) (closes #9227)
  polling_stations/apps/data_importers/management/commands/import_kensington_and_chelsea.py
Due: imports-changed

fix greenwich import
  polling_stations/apps/data_importers/management/commands/import_greenwich.py
Due: imports-changed
