Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

upgrade uk-geo-utils==0.17.1
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

remove raw SQL in data quality report
  polling_stations/apps/data_importers/data_quality_report.py
Due: application-changed

explicitly specify the connection when using transactions
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
  polling_stations/apps/councils/management/commands/import_councils.py
  polling_stations/apps/councils/models.py
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/file_uploads/accessibility_information_handler.py
  polling_stations/apps/file_uploads/api.py
  polling_stations/apps/pollingstations/admin.py
  polling_stations/apps/pollingstations/tests/test_factories.py
Due: application-changed

remove unnecessary transaction
  polling_stations/apps/file_uploads/models.py
Due: application-changed

explicitly specify the connection when using raw sql and transaction
  polling_stations/apps/data_importers/geo_utils.py
Due: application-changed

add get_principal_db_connection helper to db_routers
  polling_stations/db_routers.py
Due: application-changed

remove unnecessary using statements from import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

explicitly specify the connection when using raw sql
  polling_stations/apps/addressbase/management/commands/create_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/import_uprn_council_lookup.py
  polling_stations/apps/addressbase/tests/test_update_addressbase.py
  polling_stations/apps/data_importers/data_types.py
Due: application-changed

Import script for City of London Corporation (2025-03-20) (closes #8245)
  polling_stations/apps/data_importers/management/commands/import_city_of_london.py
Due: imports-changed

Import script for Canterbury (2025-03-06) (closes #8250)
  polling_stations/apps/data_importers/management/commands/import_canterbury.py
Due: imports-changed

station change from BUC council
  polling_stations/apps/data_importers/management/commands/import_buckinghamshire.py
Due: imports-changed

replace ` with ' in addresses
  polling_stations/apps/pollingstations/models.py
Due: application-changed

Import script for North Kesteven (2025-03-20) (closes #8254)
  polling_stations/apps/data_importers/management/commands/import_north_kesteven.py
Due: imports-changed

link to city of london finder
  polling_stations/templates/fragments/polling_station_unknown.html
Due: application-changed

Import script for North Kesteven (2025-05-01) (closes #8272)
  polling_stations/apps/data_importers/management/commands/import_north_kesteven.py
Due: imports-changed

Import script for Bassetlaw (2025-05-01) (closes #8276)
  polling_stations/apps/data_importers/management/commands/import_bassetlaw.py
Due: imports-changed

upgrade uk-geo-utils==0.18.0
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

Import script for Tamworth (2025-05-01) (closes #8282)
  polling_stations/apps/data_importers/management/commands/import_tamworth.py
Due: imports-changed

update text fixture
  polling_stations/apps/data_finder/fixtures/integration_tests_addressbase.json
Due: application-changed

Import script for South Holland (2025-05-01) (closes #8292)
  polling_stations/apps/data_importers/management/commands/import_south_holland.py
Due: imports-changed

Import script for Chorley (2025-05-01) (closes #8294)
  polling_stations/apps/data_importers/management/commands/import_chorley.py
Due: imports-changed

Import script for Warwick (2025-05-01) (closes #8296)
  polling_stations/apps/data_importers/management/commands/import_warwick.py
Due: imports-changed

Import script for Fylde (2025-05-01) (closes #8256)
  polling_stations/apps/data_importers/management/commands/import_fylde.py
Due: imports-changed

Import script for Pendle (2025-05-01) (closes #8258)
  polling_stations/apps/data_importers/management/commands/import_pendle.py
Due: imports-changed

Import script for Watford (2025-05-01) (closes #8260)
  polling_stations/apps/data_importers/management/commands/import_watford.py
Due: imports-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
