Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

Import script for Malvern Hills (2026-04-30) (closes #9249)
  polling_stations/apps/data_importers/management/commands/import_malvern_hills.py
Due: imports-changed

Import script for Southampton (2026-05-07) (closes #9254)
  polling_stations/apps/data_importers/management/commands/import_southampton.py
Due: imports-changed

Import script for Huntingdonshire (2026-05-07) (closes #9090)
  polling_stations/apps/data_importers/management/commands/import_huntingdonshire.py
Due: imports-changed

Import script for Dumfries and Galloway (2026-05-07) (closes #9251)
  polling_stations/apps/data_importers/management/commands/import_dumfries_and_galloway.py
Due: imports-changed

use correct words for Scotland: Council/Returning Officer
  polling_stations/templates/fragments/contact_details.html
Due: application-changed

Import script for Glasgow (2026-05-07) (closes #9256)
  polling_stations/apps/data_importers/management/commands/import_glasgow_city.py
Due: imports-changed

Add method to batch assign uprns to advance stations
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/apps/data_importers/mixins.py
  polling_stations/apps/data_importers/tests/test_advance_voting.py
Due: imports-changed, application-changed

Prefetch advance voting stations in AddressView
  polling_stations/apps/data_finder/tests/test_views.py
  polling_stations/apps/data_finder/views.py
Due: application-changed

Limit db queries due to advance voting stations in API
  polling_stations/apps/api/address.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
  polling_stations/apps/data_finder/helpers/routing.py
Due: application-changed

Rename alternative voting stations key in api
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
Due: application-changed

fixup! Modify fe for multiple advance stations
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/templates/fragments/advance_voting_station.html
  polling_stations/templates/fragments/polling_station_known.html
  polling_stations/templates/postcode_view.html
Due: imports-changed, application-changed

fixup! Remove advance voting station from addressbase import process
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
Due: application-changed

Import script for Broadland (2026-05-07) (closes #8989, closes #8988)
  polling_stations/apps/data_importers/management/commands/import_broadland.py
Due: imports-changed

Import script for Winchester (2026-05-07) (closes #9099)
  polling_stations/apps/data_importers/management/commands/import_winchester.py
Due: imports-changed

Import script for Trafford (2026-05-07) (closes #9101)
  polling_stations/apps/data_importers/management/commands/import_trafford.py
Due: imports-changed

Import script for Exeter (2026-05-07) (closes #9093)
  polling_stations/apps/data_importers/management/commands/import_exeter.py
Due: imports-changed

Import script for Cherwell (2026-05-07) (closes #9097)
  polling_stations/apps/data_importers/management/commands/import_cherwell.py
Due: imports-changed

Import script for Chelmsford (2026-05-07) (closes #8911)
  polling_stations/apps/data_importers/management/commands/import_chelmsford.py
Due: imports-changed

Import script for Epsom and Ewell (2026-05-07) (closes #9261)
  polling_stations/apps/data_importers/management/commands/import_epsom_and_ewell.py
Due: imports-changed

Import script for Nuneaton and Bedworth (2026-05-07) (closes #9007)
  polling_stations/apps/data_importers/management/commands/import_nuneaton_and_bedworth.py
Due: imports-changed

Import script for West Lothian (2026-05-07) (closes #9216)
  polling_stations/apps/data_importers/management/commands/import_west_lothian.py
Due: imports-changed

Import script for Bromley (2026-05-07) (closes #9263)
  polling_stations/apps/data_importers/management/commands/import_bromley.py
Due: imports-changed

station change for ABE
  polling_stations/apps/data_importers/management/commands/import_aberdeen.py
Due: imports-changed

station postcode + coords from STY council
  polling_stations/apps/data_importers/management/commands/import_south_tyneside.py
Due: imports-changed

station coord fix for SAY
  polling_stations/apps/data_importers/management/commands/import_south_ayrshire.py
Due: imports-changed

station postcode fix for FAL
  polling_stations/apps/data_importers/management/commands/import_falkirk.py
Due: imports-changed

station coord fix for DGY
  polling_stations/apps/data_importers/management/commands/import_dumfries_and_galloway.py
Due: imports-changed

Import script for Isle of Wight (2026-05-07) (closes #9267)
  polling_stations/apps/data_importers/management/commands/import_isle_of_wight.py
Due: imports-changed

Import script for Breckland (2026-05-07) (closes #9269)
  polling_stations/apps/data_importers/management/commands/import_breckland.py
Due: imports-changed

Import script for Wealden (2026-05-07) (closes #9271)
  polling_stations/apps/data_importers/management/commands/import_wealden.py
Due: imports-changed
