Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

There's no 'I' in WARNNG
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
Due: none

fix station address for CRY
  polling_stations/apps/data_importers/management/commands/import_croydon.py
Due: imports-changed

Bump Django 5.2.12 -> 5.2.13
  pyproject.toml
  uv.lock
Due: application-changed

Bump cryptography 46.0.6 -> 46.0.7
  uv.lock
Due: application-changed

Bump pytest 8.3.4 -> 9.0.3
  pyproject.toml
  uv.lock
Due: application-changed

Add constant with pilot info links
  polling_stations/settings/constants/councils.py
Due: application-changed

Add pilot url to advance station object in api
  polling_stations/apps/api/address.py
  polling_stations/apps/api/tests/test_address.py
Due: application-changed

Add pilot info link to front end
  polling_stations/apps/data_finder/tests/test_views.py
  polling_stations/apps/data_finder/views.py
  polling_stations/templates/fragments/voting_pilot_intro.html
Due: application-changed

Re-order advance hubs before polling day hubs
  polling_stations/templates/fragments/polling_station_known.html
Due: application-changed

Import script for Dorset (2026-05-21) (closes #9326)
  polling_stations/apps/data_importers/management/commands/import_dorset.py
Due: imports-changed

Import script for Hertsmere (2026-05-07) (closes #9328)
  polling_stations/apps/data_importers/management/commands/import_hertsmere.py
Due: imports-changed

SOS station address change
  polling_stations/apps/data_importers/management/commands/import_southend.py
Due: imports-changed

WLL station change
  polling_stations/apps/data_importers/management/commands/import_walsall.py
Due: imports-changed

KHL station change
  polling_stations/apps/data_importers/management/commands/import_kingston-upon-hull.py
Due: imports-changed

MRT stations changes
  polling_stations/apps/data_importers/management/commands/import_merton.py
Due: imports-changed

NEC station postcode change
  polling_stations/apps/data_importers/management/commands/import_newcastle_under_lyme.py
Due: imports-changed

SND station coords change
  polling_stations/apps/data_importers/management/commands/import_sunderland.py
Due: imports-changed

Import script for Wigan (2026-05-07) (closes #9319)
  polling_stations/apps/data_importers/management/commands/import_wigan.py
Due: imports-changed

Import script for Tameside (2026-05-07) (closes #9323)
  polling_stations/apps/data_importers/management/commands/import_tameside.py
Due: imports-changed

Import script for Sefton (2026-05-07) (closes #9321)
  polling_stations/apps/data_importers/management/commands/import_sefton.py
Due: imports-changed

Import script for Stockport (2026-05-07) (closes #8980)
  polling_stations/apps/data_importers/management/commands/import_stockport.py
Due: imports-changed

Import script for Welwyn Hatfield (2026-05-07) (closes #9338)
  polling_stations/apps/data_importers/management/commands/import_welwyn_hatfield.py
Due: imports-changed

Import script for Enfield (2026-05-07) (closes #9340)
  polling_stations/apps/data_importers/management/commands/import_enfield.py
Due: imports-changed

Import script for Castle Point (2026-05-07) (closes #9342)
  polling_stations/apps/data_importers/management/commands/import_castle_point.py
Due: imports-changed

fix data in tunbridge wells import script
  polling_stations/apps/data_importers/management/commands/import_tunbridge_wells.py
Due: imports-changed

remove pointless comment
  polling_stations/urls.py
Due: application-changed

add pointless comment
  polling_stations/apps/data_importers/management/commands/import_tunbridge_wells.py
Due: imports-changed

add pointless comment
  polling_stations/apps/data_importers/management/commands/import_croydon.py
Due: imports-changed

MAN station change
  polling_stations/apps/data_importers/management/commands/import_manchester.py
Due: imports-changed

SNO station change
  polling_stations/apps/data_importers/management/commands/import_south_norfolk.py
Due: imports-changed

COL station change
  polling_stations/apps/data_importers/management/commands/import_colchester.py
Due: imports-changed
