Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

merge halarose importers
  cdk/lambdas/wdiv-s3-trigger/tests/fixtures/ems-idox-eros-2026-update.csv
  cdk/lambdas/wdiv-s3-trigger/tests/test_csv_helper.py
  cdk/lambdas/wdiv-s3-trigger/trigger/csv_helpers.py
  polling_stations/apps/data_importers/ems_importers.py
  polling_stations/apps/data_importers/import_script.py
  polling_stations/apps/data_importers/management/commands/__init__.py
  polling_stations/apps/data_importers/tests/fixtures/halarose_2026_importer/test.csv
  polling_stations/apps/data_importers/tests/fixtures/halarose_importer/test.csv
  polling_stations/apps/data_importers/tests/stubs/stub_halarose2026import.py
  polling_stations/apps/data_importers/tests/test_halarose.py
Due: application-changed

remove unpublished stations from API station list
  polling_stations/apps/api/pollingstations.py
Due: application-changed

fixup! remove unpublished stations from API station list
  polling_stations/apps/api/pollingstations.py
Due: application-changed

sort split postcodes
  polling_stations/apps/data_importers/data_types.py
Due: application-changed

post all slack messages at once
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
Due: application-changed

capture import and slack errors in sentry
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
Due: application-changed

capture slack errors in sentry in import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

pass command stdout to LogHelper
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/loghelper.py
Due: application-changed

pass command stdout to generate_string_report
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/data_quality_report.py
Due: application-changed

make run_new_imports post to slack on script success/failure
  .circleci/deploy-config.yml
  polling_stations/apps/data_importers/management/commands/run_new_imports.py
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
Due: application-changed

Import script for Highland (2026-06-25) (closes #9426)
  polling_stations/apps/data_importers/management/commands/import_highland.py
Due: imports-changed

Import script for Haringey (2026-06-25) (closes #9429)
  polling_stations/apps/data_importers/management/commands/import_haringey.py
Due: imports-changed

add DC_ENVIRONMENT to CI import jobs
  .circleci/deploy-config.yml
Due: application-changed

fix syntax
  .circleci/deploy-config.yml
Due: application-changed

fixup! add DC_ENVIRONMENT to CI import jobs
  polling_stations/settings/base.py
Due: application-changed

Import script for Aberdeen (2026-06-18) (closes #9439)
  polling_stations/apps/data_importers/management/commands/import_aberdeen.py
Due: imports-changed

Import script for City of Cardiff (2026-07-09) (closes #9432)
  polling_stations/apps/data_importers/management/commands/import_cardiff.py
Due: imports-changed

Import script for Aberdeenshire (2026-07-02) (closes #9435)
  polling_stations/apps/data_importers/management/commands/import_aberdeenshire.py
Due: imports-changed

Import script for Angus (2026-06-18) (closes #9441)
  polling_stations/apps/data_importers/management/commands/import_angus.py
Due: imports-changed

Import script for Dundee (2026-06-18) (closes #9437)
  polling_stations/apps/data_importers/management/commands/import_dundee.py
Due: imports-changed

Import script for Wigan (2026-06-18) (closes #9445)
  polling_stations/apps/data_importers/management/commands/import_wigan.py
Due: imports-changed

Import script for Chelmsford (2026-06-18) (closes #9443)
  polling_stations/apps/data_importers/management/commands/import_chelmsford.py
Due: imports-changed

import script for Lambeth 2026-07-09
  polling_stations/apps/data_importers/management/commands/import_lambeth.py
Due: imports-changed

Import script for Hackney (2026-06-25) (closes #9447)
  polling_stations/apps/data_importers/management/commands/import_hackney.py
Due: imports-changed

Import script for Conwy (2026-06-18) (closes #9450)
  polling_stations/apps/data_importers/management/commands/import_conwy.py
Due: imports-changed

Import script for Rochford (2026-06-18) (closes #9452)
  polling_stations/apps/data_importers/management/commands/import_rochford.py
Due: imports-changed
