Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

Import script for Hammersmith and Fulham (2026-05-07) (closes #9311)
  polling_stations/apps/data_importers/management/commands/import_hammersmith_and_fulham.py
Due: imports-changed

Import script for Sunderland (2026-05-07) (closes #9313)
  polling_stations/apps/data_importers/management/commands/import_sunderland.py
Due: imports-changed

Import script for Three Rivers (2026-05-07) (closes #9238)
  polling_stations/apps/data_importers/management/commands/import_three_rivers.py
Due: imports-changed

Import script for King's Lynn & West Norfolk (2026-05-07) (closes #9307)
  polling_stations/apps/data_importers/management/commands/import_kings_lynn.py
Due: imports-changed

Import script for Knowsley (2026-05-07) (closes #9309)
  polling_stations/apps/data_importers/management/commands/import_knowsley.py
Due: imports-changed

station postcode fix for REI
  polling_stations/apps/data_importers/management/commands/import_reigate_and_banstead.py
Due: imports-changed

station fixes for HLD
  polling_stations/apps/data_importers/management/commands/import_highland.py
Due: imports-changed

station district fix for LEW
  polling_stations/apps/data_importers/management/commands/import_lewisham.py
Due: imports-changed

station change for CRY
  polling_stations/apps/data_importers/management/commands/import_croydon.py
Due: imports-changed

fix station point for CLD
  polling_stations/apps/data_importers/management/commands/import_calderdale.py
Due: imports-changed

station name change for CGN
  polling_stations/apps/data_importers/management/commands/import_ceredigion.py
Due: imports-changed

Only show station map if we have station location
  polling_stations/templates/postcode_view.html
Due: application-changed

Refactor poll_card template for voting hubs
  polling_stations/templates/fragments/you_dont_need_poll_card.html
Due: application-changed

Sort alternative stations in api by distance
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
Due: application-changed

Make opening times font and texts more consistent
  polling_stations/templates/fragments/advance_hubs.html
  polling_stations/templates/fragments/opening_times.html
  polling_stations/templates/fragments/polling_day_hubs.html
Due: application-changed

Flexible voting hub front end work
  polling_stations/assets/custom_js/hub_maps.js
  polling_stations/settings/static_files.py
  polling_stations/templates/fragments/advance_hubs.html
  polling_stations/templates/fragments/polling_day_hubs.html
  polling_stations/templates/fragments/polling_station_known.html
  polling_stations/templates/fragments/travel_time.html
  polling_stations/templates/fragments/voting_pilot_intro.html
  polling_stations/templates/postcode_view.html
Due: application-changed

Add hub name to hub address
  polling_stations/templates/fragments/advance_hubs.html
  polling_stations/templates/fragments/polling_day_hubs.html
Due: application-changed

Get voting hubs for before and on polling day
  polling_stations/apps/data_finder/views.py
Due: application-changed

Update EONI s3 expected format
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
  polling_stations/apps/data_importers/tests/test_import_eoni_from_s3.py
  pyproject.toml
  uv.lock
Due: application-changed

Bump cryptography 46.0.6 -> 46.0.7
  uv.lock
Due: application-changed

Bump Django 5.2.12 -> 5.2.13
  pyproject.toml
  uv.lock
Due: application-changed

Bump pytest 8.3.4 -> 9.0.3
  pyproject.toml
  uv.lock
Due: application-changed

There's no 'I' in WARNNG
  polling_stations/apps/data_importers/management/commands/import_eoni_from_s3.py
Due: none
