Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

explicitly specify the connection when using raw sql
  polling_stations/apps/addressbase/management/commands/create_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/import_uprn_council_lookup.py
  polling_stations/apps/addressbase/tests/test_update_addressbase.py
  polling_stations/apps/data_importers/data_types.py
Due: application-changed

explicitly specify the connection when using transactions
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
  polling_stations/apps/councils/management/commands/import_councils.py
  polling_stations/apps/councils/models.py
  polling_stations/apps/data_importers/base_importers.py
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/file_uploads/accessibility_information_handler.py
  polling_stations/apps/file_uploads/api.py
  polling_stations/apps/pollingstations/admin.py
  polling_stations/apps/pollingstations/tests/test_factories.py
Due: application-changed

explicitly specify the connection when using raw sql and transaction
  polling_stations/apps/data_importers/geo_utils.py
Due: application-changed

remove unnecessary transaction
  polling_stations/apps/file_uploads/models.py
Due: application-changed

Import script for Northumberland (2025-05-01) (closes #8226)
  polling_stations/apps/data_importers/management/commands/import_northumberland.py
Due: imports-changed

revise cancelled elections template
  polling_stations/templates/fragments/cancelled_election.html
Due: application-changed

Import script for Barnet (2025-03-06) (closes #8231)
  polling_stations/apps/data_importers/management/commands/import_barnet.py
Due: imports-changed

set a max_length on all CharFields
  polling_stations/apps/data_importers/migrations/0004_alter_dataevent_event_type.py
  polling_stations/apps/data_importers/models.py
  polling_stations/apps/pollingstations/migrations/0023_alter_pollingstation_visibility.py
  polling_stations/apps/pollingstations/models.py
Due: application-changed

a DB backend that throws an exception if you try and do anything
  polling_stations/apps/core/db/error_backend/__init__.py
  polling_stations/apps/core/db/error_backend/base.py
  polling_stations/apps/core/db/error_backend/features.py
Due: application-changed

upgrade uk-geo-utils==0.17.1
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

Import script for Colchester (2025-02-20) (closes #8234)
  polling_stations/apps/data_importers/management/commands/import_colchester.py
Due: imports-changed

always read from primary in the admin
  polling_stations/db_routers.py
Due: application-changed

revert Barnet import script
  polling_stations/apps/data_importers/management/commands/import_barnet.py
Due: imports-changed

import script for Barnet
  polling_stations/apps/data_importers/management/commands/import_barnet.py
Due: imports-changed

use consistent terminology
  polling_stations/db_routers.py
Due: application-changed

completely remove custom_finder key
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/sandbox-responses/AA12AA.json
  polling_stations/apps/api/sandbox-responses/AA12AB.json
  polling_stations/apps/api/sandbox-responses/AA13AA.json
  polling_stations/apps/api/sandbox-responses/e07000223-524-2-truleigh-way-shoreham-by-sea-west-sussex-bn436hw.json
  polling_stations/apps/api/sandbox-responses/e07000223-527-5-truleigh-way-shoreham-by-sea-west-sussex-bn436hw.json
  polling_stations/apps/api/tests/test_postcode.py
Due: application-changed

add custom point for Tiptree United Reformed Church
  polling_stations/apps/data_importers/management/commands/import_colchester.py
Due: imports-changed

bin concept of custom finders
  deploy/files/scripts/setup_db_replication.sh
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/sandbox-responses/AA12AA.json
  polling_stations/apps/api/sandbox-responses/AA12AB.json
  polling_stations/apps/api/sandbox-responses/AA13AA.json
  polling_stations/apps/api/sandbox-responses/e07000223-524-2-truleigh-way-shoreham-by-sea-west-sussex-bn436hw.json
  polling_stations/apps/api/sandbox-responses/e07000223-527-5-truleigh-way-shoreham-by-sea-west-sussex-bn436hw.json
  polling_stations/apps/api/tests/test_postcode.py
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_eoni.py
  polling_stations/apps/pollingstations/fixtures/custom_finders.json
  polling_stations/apps/pollingstations/migrations/0023_delete_customfinder.py
  polling_stations/apps/pollingstations/models.py
  polling_stations/templates/custom_finder.html
  polling_stations/templates/postcode_view.html
Due: application-changed, eoni-changed

use ds-map-leaflet for polling station dashboard maps
  polling_stations/apps/dashboard/templates/dashboard/postcode.html
Due: application-changed

Import script for Buckinghamshire (2025-05-01) (closes #8239)
  polling_stations/apps/data_importers/management/commands/import_buckinghamshire.py
Due: imports-changed

only serve from replice when there is a request in scope
  polling_stations/db_routers.py
  polling_stations/settings/base.py
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
Due: application-changed

make DB router code easier to understand
  polling_stations/db_routers.py
Due: application-changed

explain with comments
  polling_stations/db_routers.py
Due: application-changed

add get_principal_db_connection helper to db_routers
  polling_stations/db_routers.py
Due: application-changed

remove unnecessary using statements from import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed
