Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # the set-paths-changed workflow is always triggered, regardless of the pipeline parameters.
  set-paths-changed:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          # <path-to-test> is evaluated ~ `if re.compile(r'^' + <path-to-test> + r'$').match(changed_path)
          # So we can use a look ahead, as it's python's re library doing the work.
          # The regex should match whatever is in run_new_imports.py.
          # It can probably be robustified by sticking all the council imports in their own subdir.
          mapping: |
            polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py imports-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py imports-changed true
            (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).* application-changed true
            polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py eoni-changed true
          base-revision: master
          tag: 3.10.8
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/deploy-config.yml

Import script for Babergh (2026-05-07) (closes #8865)
  polling_stations/apps/data_importers/management/commands/import_babergh.py
Due: imports-changed

Import script for Walsall (2026-05-07) (closes #9051)
  polling_stations/apps/data_importers/management/commands/import_walsall.py
Due: imports-changed

Import script for Sheffield (2026-05-07) (closes #9038)
  polling_stations/apps/data_importers/management/commands/import_sheffield.py
Due: imports-changed

Import script for Blackburn with Darwen (2026-05-07) (closes #9236)
  polling_stations/apps/data_importers/management/commands/import_blackburn_with_darwen.py
Due: imports-changed

Import script for Three Rivers (2026-05-07) (closes #9238)
  polling_stations/apps/data_importers/management/commands/import_three_rivers.py
Due: imports-changed

Import script for South Ayrshire (2026-05-07) (closes #9234)
  polling_stations/apps/data_importers/management/commands/import_south_ayrshire.py
Due: imports-changed

Update council import and teardown cmds
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/apps/data_importers/mixins.py
  polling_stations/apps/data_importers/tests/test_advance_voting.py
Due: imports-changed, application-changed

Remove advance voting station index from db replication
  deploy/files/scripts/setup_db_replication.sh
Due: application-changed

Make UprnToCouncil to AdvanceVotingStation rel ManyToMany
  polling_stations/apps/addressbase/migrations/0020_remove_uprntocouncil_uprntocouncil_adv_v_station_idx_and_more.py
  polling_stations/apps/addressbase/models.py
Due: application-changed

Modify fe for multiple advance stations
  polling_stations/apps/data_finder/views.py
  polling_stations/apps/data_importers/management/commands/import_fake_exeter.py
  polling_stations/templates/fragments/advance_voting_station.html
  polling_stations/templates/fragments/polling_station_known.html
  polling_stations/templates/postcode_view.html
Due: imports-changed, application-changed

Make api return list of advance stations
  polling_stations/apps/api/address.py
  polling_stations/apps/api/postcode.py
  polling_stations/apps/api/tests/test_address.py
  polling_stations/apps/api/tests/test_postcode.py
Due: application-changed

Remove advance voting station from addressbase import process
  polling_stations/apps/addressbase/management/commands/create_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/import_uprn_council_lookup.py
  polling_stations/apps/addressbase/management/commands/update_addressbase.py
  polling_stations/apps/addressbase/tests/fixtures/addresses_sample/uprntocouncil.csv
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: application-changed, eoni-changed

Import script for Merton (2026-05-07) (closes #9241)
  polling_stations/apps/data_importers/management/commands/import_merton.py
Due: imports-changed

Import script for Ealing (2026-05-07) (closes #9243)
  polling_stations/apps/data_importers/management/commands/import_ealing.py
Due: imports-changed

Import script for North Ayrshire (2026-05-07) (closes #9245)
  polling_stations/apps/data_importers/management/commands/import_north_ayrshire.py
Due: imports-changed

Import script for East Ayrshire (2026-05-07) (closes #9247)
  polling_stations/apps/data_importers/management/commands/import_east_ayrshire.py
Due: imports-changed

Import script for Mid Suffolk (2026-05-07) (closes #8863)
  polling_stations/apps/data_importers/management/commands/import_mid_suffolk.py
Due: imports-changed

Import script for Barnsley (2026-05-07) (closes #9059, closes #9058)
  polling_stations/apps/data_importers/management/commands/import_barnsley.py
Due: imports-changed

Import script for Salford (2026-04-22) (closes #9146)
  polling_stations/apps/data_importers/management/commands/import_salford.py
Due: imports-changed

Import script for Malvern Hills (2026-04-30) (closes #9249)
  polling_stations/apps/data_importers/management/commands/import_malvern_hills.py
Due: imports-changed

Import script for Halton (2026-05-07) (closes #9073)
  polling_stations/apps/data_importers/management/commands/import_halton.py
Due: imports-changed

Import script for South Tyneside (2026-05-07) (closes #9077)
  polling_stations/apps/data_importers/management/commands/import_south_tyneside.py
Due: imports-changed

Import script for Eastbourne (2026-05-07) (closes #9083)
  polling_stations/apps/data_importers/management/commands/import_eastbourne.py
Due: imports-changed

Import script for Redditch (2026-05-07) (closes #9085)
  polling_stations/apps/data_importers/management/commands/import_redditch.py
Due: imports-changed

Import script for Hounslow (2026-05-07) (closes #9087)
  polling_stations/apps/data_importers/management/commands/import_hounslow.py
Due: imports-changed

Import script for Huntingdonshire (2026-05-07) (closes #9090)
  polling_stations/apps/data_importers/management/commands/import_huntingdonshire.py
Due: imports-changed

Import script for West Lancashire (2026-05-07) (closes #9043)
  polling_stations/apps/data_importers/management/commands/import_west_lancashire.py
Due: imports-changed

Import script for Dumfries and Galloway (2026-05-07) (closes #9252)
  polling_stations/apps/data_importers/management/commands/import_dumfries_and_galloway.py
Due: imports-changed
