Repository DemocracyClub/UK-Polling-Stations: changes, and which CircleCI parameters are due for each by the changed paths.
All: imports-changed, application-changed, eoni-changed

remove most usage of NEXT_CHARISMATIC_ELECTION_DATE(S)
  polling_stations/apps/data_finder/helpers/every_election.py
  polling_stations/apps/data_finder/tests/test_ee_wrapper.py
  polling_stations/apps/data_finder/views.py
  polling_stations/templates/fragments/advance_opening_times.html
  polling_stations/templates/fragments/advance_voting_station.html
  polling_stations/templates/fragments/opening_times.html
  polling_stations/templates/fragments/polling_station_known.html
  polling_stations/templates/fragments/polling_station_unknown.html
Due: application-changed

set elections property empty on import_eoni
  polling_stations/apps/data_importers/management/commands/import_eoni.py
Due: eoni-changed

improve naming
  polling_stations/apps/data_importers/management/commands/teardown_expired_data.py
  polling_stations/apps/data_importers/tests/test_teardown_expired_data.py
Due: application-changed

wrap teardown_council() in a transaction
  polling_stations/apps/data_importers/management/commands/teardown.py
Due: application-changed

add command to clean up old data
  polling_stations/apps/data_importers/management/commands/cleanup.py
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/data_importers/tests/test_cleanup.py
Due: application-changed

move comments to the right place
  polling_stations/apps/data_importers/management/commands/teardown.py
Due: application-changed

allow teardown to accept >1 council id
  polling_stations/apps/data_importers/management/commands/teardown.py
Due: application-changed

improve performance when deleting lots of councils
  polling_stations/apps/data_importers/management/commands/teardown.py
  polling_stations/apps/data_importers/management/commands/teardown_expired_data.py
  polling_stations/apps/data_importers/tests/test_teardown_expired_data.py
Due: application-changed

ignore councils where latest DataEvent was a teardown
  polling_stations/apps/data_importers/management/commands/teardown_expired_data.py
Due: application-changed

delete expired data weekly
  cdk/stacks/command_runner_stack.py
Due: application-changed

clarify with a comment
  polling_stations/apps/data_importers/management/commands/teardown_expired_data.py
Due: application-changed

Import script for Plymouth (2025-07-17) (closes #8654)
  polling_stations/apps/data_importers/management/commands/import_plymouth.py
Due: imports-changed

Create uv.lock and necessary pyproject.tomls
  cdk/lambdas/wdiv-s3-trigger/pyproject.toml
  pyproject.toml
  uv.lock
Due: application-changed

Drop django-database-url
  polling_stations/settings/base.py
  pyproject.toml
  uv.lock
Due: application-changed

Pin python dependencies to specific versions
  cdk/lambdas/wdiv-s3-trigger/pyproject.toml
  pyproject.toml
  uv.lock
Due: application-changed

Install django-middleware-global-request
  pyproject.toml
Due: application-changed

Use uv to generate s3 trigger requirements.txt
  cdk/lambdas/wdiv-s3-trigger/requirements.txt
  cdk/lambdas/wdiv-s3-trigger/requirements/base-constrained.in
  cdk/lambdas/wdiv-s3-trigger/requirements/base.in
  cdk/lambdas/wdiv-s3-trigger/requirements/testing-constrained.in
  cdk/lambdas/wdiv-s3-trigger/requirements/testing.in
  cdk/lambdas/wdiv-s3-trigger/requirements/testing.txt
  cdk/scripts/wdiv-s3-trigger-requirements.sh
Due: application-changed

Ruff format
  polling_stations/apps/data_importers/tests/test_run_new_imports.py
Due: application-changed

Use uv in ci
  .circleci/deploy-config.yml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: application-changed

DONT MERGE - deploy this branch
  .circleci/deploy-config.yml
Due: application-changed

Import script for Dorset (2025-07-24) (closes #8656)
  polling_stations/apps/data_importers/management/commands/import_dorset.py
Due: imports-changed

Import script for South Staffordshire (2025-06-26) (closes #8658)
  polling_stations/apps/data_importers/management/commands/import_south_staffs.py
Due: imports-changed

Import script for Tewkesbury (2025-07-10) (closes #8660)
  polling_stations/apps/data_importers/management/commands/import_tewkesbury.py
Due: imports-changed

Use uv in code deploy
  appspec.yml
  deploy/files/scripts/install_uv.sh
  deploy/files/scripts/setup_db_replication.sh
  deploy/files/scripts/user_scripts/manage-py-command
  deploy/files/systemd/gunicorn.service
  deploy/hooks/afterinstall/collectstatic.sh
  deploy/hooks/afterinstall/compilemessages.sh
  deploy/hooks/afterinstall/createcachetable.sh
  deploy/hooks/afterinstall/install_python_deps.sh
  deploy/hooks/afterinstall/migrate_rds.sh
  deploy/hooks/afterinstall/system_files.sh
  deploy/hooks/afterinstall/write_envfile.py
  deploy/hooks/afterinstall/write_global_env_vars.py
Due: application-changed

Get rid of requirements and update docs
  README.md
  cdk.json
  cdk/lambdas/wdiv-s3-trigger/README.md
  requirements/base-constrained.in
  requirements/base.in
  requirements/base.txt
  requirements/cdk-constrained.in
  requirements/cdk.in
  requirements/cdk.txt
  requirements/ci-constrained.in
  requirements/ci.in
  requirements/ci.txt
  requirements/constraints-constrained.in
  requirements/constraints.in
  requirements/constraints.txt
  requirements/local-constrained.in
  requirements/local.in
  requirements/local.txt
  requirements/production-constrained.in
  requirements/production.in
  requirements/production.txt
  requirements/testing-constrained.in
  requirements/testing.in
  requirements/testing.txt
  tasks.py
Due: application-changed

Import script for City of Cardiff (2025-07-24) (closes #8662)
  polling_stations/apps/data_importers/management/commands/import_cardiff.py
Due: imports-changed

Path conditions:
  imports-changed: (any of: polling_stations\/apps\/data_importers\/management\/commands\/misc_fixes\.py) or (any of: polling_stations\/apps\/data_importers\/management\/commands\/import_(?!eoni).+\.py)
  application-changed: any of: (?!polling_stations\/apps\/data_importers\/management\/commands\/import_.+\.py).*
  eoni-changed: any of: polling_stations\/apps\/data_importers\/management\/commands\/import_eoni.py
